.max-width-div {
    max-width: 1500px;
    margin: 0 auto;
}


/* Positions gradient container at the corner of the page with a fixed width, height, and a specified gradient pattern from the design process*/
.header-container {
    display: flex;
    position: absolute;
    height: 115px;
    background-image: linear-gradient(90deg, rgba(17, 84, 113, 1) 35%, rgba(0, 121, 145, 1) 67%, rgba(70, 155, 136, 1) 83%);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-nav-icon {
    position: relative;
    left: 50px;
}

#header-title {
    color: #ebebeb;
    width: 608px;
    position: relative;
    left: 100px;
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-size: 45px;
}

.header-pattern {
    position: relative;
    left: 185px; /* moves pattern to right side of the header without intefering with the alignment of other items */
}