
/* Sets the max side for the screen */
.max-width-div {
    width: 1500px;
    height: 1269px;
    margin: 0 auto;
}



/* 

Header Styling 

*/



/* Positions gradient container at the corner of the page with a fixed width, height, and a specified gradient pattern from the design process */
.header-container {
    display: flex;
    position: absolute;
    height: 115px;
    width: 1500px;
    background-image: linear-gradient(90deg, rgba(17, 84, 113, 1) 35%, rgba(0, 121, 145, 1) 67%, rgba(70, 155, 136, 1) 83%);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

/* Formats the title text for the header on the Index Page */
#header-title-main {
    color: #ebebeb;
    width: 608px;
    position: relative;
    left: 100px;
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

/* Formats the Main Title for pages with a subtitle */
#header-title {
    color: #ebebeb;
    width: 608px;
    position: relative;
    left: 100px;
    top: 5px;
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

/* Subtitle for content pages */
#header-subtitle {
    color: #ebebeb;
    width: 608px;
    position: relative;
    left: 100px;
    bottom: 5px;
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    font-size: 28px;
    opacity: 0.85;
}

.header-pattern {
    position: relative;
    left: 185px; /* moves pattern to right side of the header without intefering with the alignment of other items */
}



/* 

Nav Bar Styling 

*/



/* formats the dropdown container for the nav */
.dropdown-menu-container {
    display: flex;
    visibility: hidden;
    position: relative;
    top: 115px;
    bottom: 0px;
    left: 20px;
    width: 200px;
    height: 470px;
    background-color: #115471;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    text-align: center;
}

/* Formats the text for the nav links */
.dropdown-menu-container .nav-link {
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans';
    line-height: 1;
    font-weight: bold;
}

/* animate each nav link */
.dropdown-menu-container .nav-link:hover {
    transform: scale(1.05);
}

.dropdown-menu-container .nav-spacer {
    padding-bottom: 10px;
}

/* Positions navigation button relative to the header */
.nav-btn {
    position: relative;
    left: 70px;
    background-color: transparent !important; /* Sets the button to be hidden so that the image appears to be the button */
    border: transparent !important;
}

/* animates the button when being hovered on */
.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

/* changes animation appearance when button is active */
.nav-btn:active {
    background-color: rgba(155, 155, 155, 0.1) !important;
}

/* sets each item in the drop down nav to have the same colour, formats each nav item to have the same spacing and layout as each other */
.dropdown-menu-container .nav-item {
    color: rgb(17, 84, 113);
    display: flex;
    justify-content: center;
    background-color: #115471;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu-container .nav-link:hover {
    color: white !important;
}

/* sets the header nav to have the same colour as the items*/
.dropdown-menu-container .nav {
    color: rgb(17, 84, 113);
    width: 200px;
}

/* Configures the div that holds the dividers in between each nav link */
.dropdown-menu-container .nav-divider-container {
    margin: 0 auto;
    width: 60px;
}

/* Changes the size and colour of the divider */
.dropdown-menu-container hr.nav-divider {
    height: 3px;
    background-color: rgb(255, 255, 255);
    border: none;
    opacity: 1;
}



/* 

Template / Main Styling for background and footer 

*/



/* formats the main tag in relation to the header */
main {
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 435px;
    overflow: hidden;
}

/* Formats the standard background for the pages */
.main-bg {
    width: 1500px;
    height: auto;
    background-image: radial-gradient(rgba(64, 85, 144, 1) 0%, rgba(34, 46, 80, 1) 85%);
    display: block;
}

/* formats background specifically for index.html */
.index-bg {
    height: 964px !important;
}

/* formats background specifically for traditions.html */
.traditions-bg {
    height: 3898px !important;
}

/* formats background specifically for connections.html */
.connections-bg {
    height: 1000px !important;
}

/* Styles Footer tag as a template for footer items */
footer {
    margin: 0 auto;
    position: relative;
    bottom: 437px;
    z-index: 1;
}

/* Formats the sizing of the footer container */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 130px;
    background-color: rgb(26, 36, 62);
}

/* formats the footer nav position */
.footer-container .nav {
    position: relative;
    right: 70px;
}

/* Formats footer nav items */
.footer-container .nav-item {
    padding: 0px 20px;
}

/* Formats each of the links within the footer nav items */
.footer-container .nav-link {
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: bold;
    color: rgba(214, 214, 214, 0.85);
}

/* Formats footer effects */
.footer-container .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

/* Formats footer effects */
.footer-container .active-page {
    color: rgba(255, 255, 255, 1) !important;
    pointer-events: none;
}

/* Formats footer watermark */
.footer-watermark {
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: bold;
    color: rgba(214, 214, 214, 0.35) !important;
    position: relative;
    top: 60px;
}

/* Formats footer content disclaimer */
.footer-contentDisclaimer {
    position: relative;
    top: 60px;
    width: 440px;
    font-size: 15px;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    color: rgba(179, 179, 179, 0.45);
}


/* 
Earth Styling 
*/


/* Formats the template webgl canvas for the earth model */
.webgl{
    margin: 0 auto;
    outline: none;
}

/* formats index.html canvas to make the earth static */
.webgl.index {
    pointer-events: none;
}

/* formats connections.html canvas positioning */
.webgl.connections {
    position: relative;
    left: 350px;
}



/* 

Index.html Styling 

*/



/* formats the index nav */
.index-hero-nav {
    margin: 0 auto;
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
}

/* Formats History index nav button */
.indexButton.History {
    bottom: 250px;
    right: 150px;
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

/* Formats Traditions index nav button */
.indexButton.Traditions {
    bottom: 100px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

/* Formats Connections index nav button */
.indexButton.Connections {
    bottom: 250px;
    left: 150px;
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* Formats standard index nav button */
.indexButton {
    position: relative;
    height: 112px;
    background-color: #115471;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
}

/* formats the History link in its nav button */
.HistoryLink {
    color: rgb(255, 255, 255);
    font-family: 'lunasima', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

/* formats the Traditions link in its nav button */
.TraditionsLink {
    color: rgb(255, 255, 255);
    font-family: 'lunasima', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* formats the Connections link in its nav button */
.ConnectionsLink {
    color: rgb(255, 255, 255);
    font-family: 'lunasima', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* formats the hover effect for each nav link */
.hover-underline {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

/* hover effects continued */
.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

/* hover effects continued */
.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

/* hover effects continued */
.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}



/* 

History.html Styling 

*/



/* Formats the main content for history.html */
#History_MainContent {
    margin: 115px auto;
    position: relative;
    top: 50px;
    width: 1500px;
    display: flex;
    justify-content: center;
}

/* Formats the content card in the History main section */
#History-Content{
    width: 750px;
    height: 820px;
    border-radius: 10px;
    margin-right: 150px;
    background-color: rgba(235, 235, 235, 1);
    display: block;
    text-align: center;
}

/* Formats the NZ Map Image for the main content */
#History-Image {
    width: 441px;
    height: 631px;
    margin: auto 0;
}

/* Formats the title in the history main content card  */
#History-Content-Title {
    width: 650px;
    margin: 60px auto 0;
    font-family: 'Josefin Sans';
    font-size: 46px;
    font-weight: bolder;
    align-self: center;
}

/* Formats the container for the history main content card */
#History-Content-MainContainer {
    margin: 0 auto;
    width: 650px;
    height: 290px;
    display: flex;
}

/* formats the body text for the history main content card */
#History-Content-Main {
    margin: auto;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

/* formats the image that sits inside the history main content card */
#History-Content-Image {
    margin: 0 auto;
}

/* formats the attribution line that sits under the content image */
#History-Content-Image-Credit {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

/* formats the container of the History Timeline */
#History-Timeline-Container {
    margin: 0 auto;
    padding: 120px 0;
    overflow-x: scroll;
}

/* Formats the timeline that holds each timeline item */
#History-Timeline {
    background-image: url("/Images/History/History_TimelinePattern.png");
    width: 1810px;
    height: 130px;
    display: flex;
    justify-content: center;
}

/* Formats each timeline item that sits on the timeline */
.Timeline-Item {
    position: relative;
    bottom: 72px;
    text-align: center;
}

/* Formats specific positioning for the Voyage container */
.Timeline-Item#Voyage {
    right: 335px;
}

/* Formats specific positioning for the Treaty container */
.Timeline-Item#Treaty {
    right: 125px;
}

/* Formats specific positioning for the Land Wars container */
.Timeline-Item#LandWars {
    left: 110px;
}

/* Formats specific positioning for the Māori Party container */
.Timeline-Item#MāoriParty {
    left: 335px;
}

/* Formats the buttons that sit inside each timeline section */
.TimelineButton {
    height: 127px;
    background-color: rgba(163, 163, 163, 1);
    border-radius: 20px;
    box-shadow: 0 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;   
}

/* formats specific sizing for the Voyage Button */
.TimelineButton#VoyageButton {
    width: 294px;
}

/* formats specific sizing for the Treaty Button */
.TimelineButton#TreatyButton {
    width: 215px;
}

/* formats specific sizing for the Land Wars Button */
.TimelineButton#LandWarsButton {
    width: 215px;
}

/* formats specific sizing for the Māori Party Button */
.TimelineButton#MāoriPartyButton {
    width: 270px;
}

/* formats the Timeline dates */
.Timeline-Date {
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: bold;
    color: rgba(180, 180, 180, 1);
}

/* formats specific effects for the selected button */
.active-button {
    background-color: rgba(235, 235, 235, 1) !important;
}

/* formats specific effects for the selected date */
.active-date {
    color: rgba(255, 255, 255, 1);
}



/* 

Traditions.html Styling 

*/



/* Formats the Kowhaiwhai patterns that split up the content into defined sections */
.Traditions-Content-Divider {
    margin: 60px auto 0;
}

/* Formats the headings for each section of content */
.Traditions-Content-Heading {
    font-family: 'Josefin Sans';
    font-size: 50px;
    font-weight: bold;
    color: rgba(235, 235, 235, 1);
    text-align: center;
}

/* Formats specific margins for the 1st heading */
#Traditions-Heading1 {
    margin: 205px auto 40px;
}

/* Formats specific margins for the 2nd heading */
#Traditions-Heading2 {
    margin: 80px auto 60px;
}

/* Formats specific margins for the 3rd heading */
#Traditions-Heading3 {
    margin: 50px auto 30px;
}

/* Formats specific margins for the 4th heading */
#Traditions-Heading4 {
    margin: 100px auto 30px;
}

/* Formats the 1st section of content */
#Traditions-Content-1 {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: center;
}

/* Formats the background shading for the 1st content section */
#Traditions-Content-1-Background {
    width: 803px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.315) 65%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    z-index: 1;
}

/* Formats the body text for the 1st content section */
#Traditions-Content-1-Main {
    font-family: 'Josefin Sans';
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 620px;
    line-height: 1.2;
    z-index: 4;
    opacity: 1;
}

/* Formats the image for the 1st content section */
#Traditions-Content-1-Image {
    margin-right: 0;
}

/* Formats the 2nd section of content */
#Traditions-Content-2 {
    width: 1500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Formats the main section in the 2nd section of content */
#Traditions-Content-2-MainContainer {
    width: 619px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

/* Formats the main content that sits to the left of the 2nd section of content */
#Traditions-Content-2-MainContent {
    position: relative;
    top: 70px;
    margin: auto;
    width: 440px;
    font-family: 'Josefin Sans';
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

/* Formats the divider that sits beneath the main content */
#Traditions-Content-2-Divider {
    position: relative;
    bottom: 70px;
    margin: auto;
    width: 350px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border: none;
    opacity: 1;
}

/* Formats the background for the subcontent on the right of the 2nd content section */
#Traditions-Content-2-SubBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 881px;
    height: 800px;
    background-image: linear-gradient(rgba(6, 93, 116, 0.9) 0%, rgba(6, 93, 116, 0.75) 25%, rgba(6, 93, 116, 0.5) 50%, rgba(6, 93, 116, 0.3) 75%);
}

/* Formating the subcontents on the right side of the 2nd content section */
.Traditions-Content-2-SubContent {
    width: 589px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans';
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
}

/* Formating the container for the 3rd content section */
#Traditions-Content-3 {
    margin: 60px auto 0;
    width: 1500px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(15, 73, 98, 1) 0%, rgba(23, 91, 120, 1) 20%, rgba(33, 111, 144, 1) 50%, rgba(23, 91, 120, 1) 80%, rgba(15, 73, 98, 1) 100%);
}

/* Formats the Māori Portion of the 3rd content section */
#Traditions-Content-3-Whakatauki {
    width: 943px;
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: bold;
    color: rgba(235, 235, 235, 1);
    text-align: center;
}

/* Formats the english translation of the 3rd content section */
#Traditions-Content-3-Translation {
    width: 745px;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: bold;
    color: rgba(221, 221, 221, 0.85);
    text-align: center;
    line-height: 1.2;
}

/* Formats the containre for the 4th content section */
#Traditions-Content-4 {
    width: 1500px;
    height: 845px;
    margin: 150px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Formats the container for the main content section (middle) for the 4th content section */
#Traditions-Content-4-MainContainer {
    width: 1500px;
    height: 700px;
    display: flex;
    justify-content: center;
}

/* Formats the background for the 4th content section  */
#Traditions-Content-4-MainCard {
    width: 461px;
    height: 517px;
    background-image: url("/Images/Traditions/Content4-Background.png");
    margin: 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formats the Main content for the 4th content section */
#Traditions-Content-4-MainContent {
    width: 413px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}

/* Formats the pattern at the bottom of the 4th content section */
#Traditions-Content-4-Pattern {
    position: relative;
    bottom: 150px;
}



/* 

Connections.html Styling 

*/



/* Formats the tooltip that shows next to the mouse upon hover on a marker */
#tooltip {
    position: absolute;
    pointer-events: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
}

/* Formats the Intro container for the Connections Page */
.Connections-Content-Intro {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 180px;
    bottom: 800px;
    width: 480px;
    height: 550px;
    background-color: rgba(0, 121, 145, 0.65);
    border-radius: 10px;
    z-index: 5;
}

/* Formats the title for the Connections Intro  */
.Connections-Content-Intro-Title {
    margin: 50px auto 0;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: bold;
    color: rgba(235, 235, 235, 1);
}

/* Formatst the body for the Connections Intro */
.Connections-Content-Intro-Main {
    margin: auto;
    width: 420px;
    font-family: 'Josefin Sans';
    font-size: 26px;
    font-weight: bold;
    color: rgba(225, 225, 225, 1);
    text-align: center;
}

/* Formats the gallery cards */
.Gallery-Content-Card {
    width: 1000px !important;
    height: 800px;
    background: rgba(215, 215, 215, 1) !important;
    border-radius: 10px !important;
    display: flex;
    justify-content: center !important;
    flex-direction: row !important;
}

/* Formats the title of each gallery card */
.Gallery-Content-Title {
    margin: 40px auto 0;
    font-family: 'Josefin Sans';
    font-size: 46px;
    font-weight: bold;
}

/* Formats the Main Content of the gallery cards */
.Gallery-Content-Main {
    margin: auto;
    margin-left: 0 !important;
    width: 400px !important;
    height: 728px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Formats the Sub Content containing images in the gallery cards */
.Gallery-Content-Subcontent {
    margin: auto 0;
    width: 450px;
    margin-right: 0;
    vertical-align: middle;
}

/* Ensures that each flag isn't being resized  */
.Gallery-Content-Image {
    margin: 0 auto;
    height: 210px !important;
}

/* Ensures that NZ Flag is properly sized */
#NZ-Gallery-Flag {
    width: 420px !important;
}

/* Ensures that Japan Flag is properly sized */
#Japan-Gallery-Flag {
    width: 350px !important;
}

/* Ensures that Mexico Flag is properly sized */
#Mexico-Gallery-Flag {
    width: 367px !important;
}

/* Ensures that Scotland Flag is properly sized */
#Scotland-Gallery-Flag {
    width: 350px !important;
}

/* Ensures that China Flag is properly sized */
#China-Gallery-Flag {
    width: 315px !important;
}

/* Format the body content for each gallery card */
.Gallery-Content-MainContent {
    margin: 20px auto 0;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
}