.max-width-div {
    width: 1500px;
    height: 1269px;
    margin: 0 auto;
}

header {
    z-index: 2;
}

/* Positions gradient container at the corner of the page with a fixed width, height, and a specified gradient pattern from the design process */
.header-container {
    display: flex;
    position: absolute;
    height: 115px;
    width: 1500px;
    background-image: linear-gradient(90deg, rgba(17, 84, 113, 1) 35%, rgba(0, 121, 145, 1) 67%, rgba(70, 155, 136, 1) 83%);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 15px 10px;
    z-index: 3;
}

/* Formats the title text for the header */
#header-title {
    color: #ebebeb;
    width: 608px;
    position: relative;
    left: 100px;
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.header-pattern {
    position: relative;
    left: 185px; /* moves pattern to right side of the header without intefering with the alignment of other items */
}

/* Nav Bar Styling */
.dropdown-menu-container {
    display: flex;
    visibility: hidden;
    position: relative;
    top: 115px;
    bottom: 0px;
    left: 0;
    width: 200px;
    height: 550px;
    background-color: #343a40;
    color: #ffffff;
    z-index: 2;
    text-align: center;
    transform-origin: translate(0, -100%);
    transform: 0;
}

/* Formats the text for the nav links */
.dropdown-menu-container .nav-link {
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans';
    line-height: 1;
    font-weight: bold;
}

/* animate each nav link */
.dropdown-menu-container .nav-link:hover {
    transform: scale(105%);
}

.dropdown-menu-container .nav-spacer {
    padding-bottom: 10px;
}

/* Positions navigation button relative to the header */
.nav-btn {
    position: relative;
    left: 50px;
    background-color: transparent !important; /* Sets the button to be hidden so that the image appears to be the button */
    border: transparent !important;
}

/* animates the button when being hovered on */
.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

/* changes animation appearance when button is active */
.nav-btn:active {
    background-color: rgba(155, 155, 155, 0.1) !important;
}

/* sets each item in the drop down nav to have the same colour, formats each nav item to have the same spacing and layout as each other */
.dropdown-menu-container .nav-item {
    color: rgb(17, 84, 113);
    display: flex;
    justify-content: center;
    background-color: #115471;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu-container .nav-link:hover {
    color: white !important;
}

/* sets the header nav to have the same colour as the items*/
.dropdown-menu-container .nav {
    color: rgb(17, 84, 113);
    width: 200px;
}

.dropdown-menu-container .nav-divider-container {
    margin: 0, auto;
    width: 60px;
}

.dropdown-menu-container hr.nav-divider {
    height: 3px;
    background-color: white;
    border: none;
    opacity: 1;
}

main {
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 435px;
}

.main-bg {
    width: 1500px;
    height: 1024px;
    background-image: radial-gradient(rgba(64, 85, 144, 1) 0%, rgba(34, 46, 80, 1) 85%);
}

footer {
    margin: 0 auto;
    position: relative;
    bottom: 437px;
    z-index: 1;
}

.footer-container {
    width: 1500px;
    height: 130px;
    background-color: rgb(26, 36, 62);
}

.footer-container .nav {
    margin: 0 auto;
    width: 1500px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
